/* Adicione estilos conforme necessário */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
}

input, button {
    margin-bottom: 10px;
}

#registros {
    margin-top: 20px;
    color: #333;
}

.medicos {
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
    color: #0066cc;
}
