/* Adicione estilos conforme necessário */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
}

input, button {
    margin-bottom: 10px;
}

#registros {
    margin-top: 20px;
    color: #333;
}

.medicos {
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
    color: #0066cc;
}

#pressaoRegistros {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Adicione quadros para as fotos dos doutores */
#doutor1 {
    background-image: url('doutor1.jpg');
    background-size: cover;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
}

#doutor2 {
    background-image: url('doutor2.jpg');
    background-size: cover;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
}
